.courses {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.span {
  margin: 0px 110px;
}

h3 {
  padding: 25px 0px;
}

.course {
  width: 50%;
  background-color: #b4b4b4;
  border: 2px solid black;
  margin: 10px 0px;
}

.course > p {
  padding: 4px 39px;
}
